.cover__subtitle {
  margin: 0;
  max-width: 360px;
  line-height: 1.222;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw + 1248px)/112);
    line-height: calc((300vw + 2624px)/224);
    width: calc((900vw + 13248px)/56);
  }
}
