.footer {
  margin-top: 77px;
  padding: 0 48px 24px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1024px) {
  .footer {
    padding: 0 calc((300vw - 1536px)/32) 24px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 calc((-100vw + 768px)/28);
  }
}

@media (max-width: 544px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer {
    width: 186px;
    margin: 64px auto 0 16px;
    padding-bottom: 24px;
    align-items: stretch;
  }
}
